*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}




.container {
  background: #1e293b;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 750px;
}

.filters {
    display: flex;
    justify-content: space-between;
  margin: 12px 0;
  
  width: 100%;
  height: 30px;
}
.filters button {
  background: #334155;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.filters button.active {
  background: #3b82f6;
}


.input-area{
    display: flex;
    gap: 5px;
}


input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: text;
}


button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #38bdf8;
  width: px;
}

button:hover {
  background: #0ea5e9;
}


li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.footer {
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.8;
}
